@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sofia&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

.body{
    align-content: center;
    /* flex-direction: column;
    display: flex; */
}

.Hero-Section{
    width: 1440px;
    /* height: 1024px; */
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;;
}

.header{
    display: flex;
    flex-direction: row;
    width:  1150px;
    height: 44px;
    margin-top: 12px;
    margin-left: 145.09px;
    margin-right:  144.91px;
    gap: 140px;
    align-items: center;
}

.logo{
width: 155px;
height: 40px;
}

.middle-nav{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.sc{
    font-family: ;
font-size: 18px;
line-height: 21.09px;
text-decoration: none;
color: #141414;
}

.end-nav{
    width: 211px;
    height: 44px;
}

.login{
    color: #0065FE;
    font-size: 16px;
    border-style: none;
    background-color: transparent;
    /* width: 45px;
    height: 20px; */
}

.try-for-free{
    width: 142px;
    height: 44px;
    border-radius: 100px;
    border-style: none;
    background-color: #0065FE;
    color: #FFFFFF;
    font-size: 16px;

}

.hero-content-container{
    margin-left: 246px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* width: 948px; */
    /* height: 389px; */
}

/* .hero-top-container{
    width: 948px;
    height: 389px;
} */
.hero-top-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-top-h1{
    width: 948px;
    font-family: sans-serif;
    text-justify: distribute-all-lines;    font-size: 48px;
    line-height: 96px;
    align-items: center;
    text-align: center;
    color: #141414;
    margin-top:0px;
}
.h1-title{
    width: 982px;
    height: 232px;
    margin-top: 108px;
    margin-bottom: 0px;

}

.hero-top-span{
    color: #005AE2;
}

.hero-top-text{
    display: flex;
    flex-direction: column;
    width: 934px;
    height: 105px;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    color: #141414;
    margin-top: 120px;
}

.hero-bottom-container{
    display:flexbox;
    flex-direction: row;
    margin-top:  32px;
    width: 282px;
    height: 44px;
    gap: 56px;
    margin-left: 333px;
}

.signup{
    width: 142px;
    height: 44px;
    border-radius: 100px;
    background-color: #0065FE;
    color: #FFFFFF;
    font-size: 16px;
}

.learn-more{
    color: #0065FE;
    font-size: 16px;
    border-style: none;
    background-color: transparent;

}

.group2{
    
    display: flex;
    /* flex-direction: column; */
    margin-top: 56px;
    align-items: center;
    background-color: transparent;
    /* margin-top: 607px; */
    /* height: 336.57px; */
    /* width: fit-content; */
    /* margin-left: 369px; */

}

.Frame-29{
    align-content: center;
    overflow: hidden;
    width: 768px;
    height: 224px;
    border-radius: 24px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #005AE2;
    background-color: #FEFEFE1A;
    z-index: 2;
    position: relative;
    backdrop-filter: blur(212px);
    top:0px;
    left: 297px;
    padding-left: 60px;
}

.link2{
    width: 80px;
    height: 80px;
    
}

.link2b{
        width: 80px;
        height: 80px;
        position: relative;
        left: -34px;
}

.link2c{
    width: 80px;
        height: 80px;
        position: relative;
        left: -69px;
}
.link2d{
    width: 80px;
    height: 80px;
    position: relative;
    left: -69px;
}
.arrow{
    position: relative;
    left: -69px;
}

.p-frame{
text-align: center;
/* padding-left: 60px;
padding-right: 60px; */
}
.Frame-1000001716{
    display: flex;
    align-items: center;
width: 384px;
height: auto;
gap: 20px;
z-index: 2;
}

.frame-7{
    width: 648px;
    height: 48px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;

}

.vector2{
z-index: 1;
width: 238.55px;
height: 251.2px;
transform: rotate(4deg);
position: relative;
top: 4px;
left: -469px;
}

.ellipse{
    width: 956px;
    height: 49px;
    margin-left: 230px;
    position: relative;
    top: 80px;
}

.rectangle-9{
    width: 1440px;
    height: 93px;

}
.group3{
    /* overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content:  center; */
    width: 1440px;
    height: 93px;
    overflow: hidden;
    margin-top: 931px;
}
.aurora{
position: relative;
}
.au1{
width: 199.1px;
    height: 215.08px;
    color: #D60505;
    position: relative;
    backdrop-filter: blur(700px);

}
.au2{
    width: 199.1px;
    height: 215.08px;
    background-color: #067808;
    position: relative;
    backdrop-filter: blur(700px);

}
.au3{
    width: 271px;
    height: 293px;
    background-color: #EAC81F;
    position: relative;
    backdrop-filter: blur(700px);

}
.second-section{
    width: 1440px;
    /* height: 982px; */
    display: flex;
flex-direction: column;
gap: 120px;

/* align-items: center; */
}

.second-cn{
    display: flex;
    flex-direction: row;
    background-color: #F9FBFD;
    padding-block: 62px;
    width: 1440px;
    gap: 120px;
    /* padding-inline: 140px;
    grid-column-gap: 50px; */
    ;
    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,1fr);
}

.left{
    margin-left: 140px;
    grid-column: 1;
    grid-row: 1;
    width: 337px;
}
.line70{
    background-size: 0.1px 48px;
}
.right{
    grid-column: 2;
    grid-row: 1;
    gap: 72px;
    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr); */
}
.h2-sc{
    width: fit-content;
    margin: 8px;
}
.right-cn{
    display: flex;
    gap: 72px;
    /* grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr); */
    
}

.one-stop{
    font-size: 40px;
    line-height: 48px;
    margin: 0px;
}

.blue{
    color: #005AE2;
}

.mill{
    grid-column: 1;
    grid-row: 1;
    width: fit-content;
}

.sixty{
    grid-column: 2;
    grid-row: 1;
    width: fit-content;
}

.bill{
    grid-column: 3;
    grid-row: 1;
    width: fit-content;
}

.three{
    grid-column: 4;
    grid-row: 1;
    width: fit-content;
}

.scissors{
    width: 1202.1px;
    height: 504px;
    display: flex;
    margin-left: 120px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-column-gap: 98px;
}

.choose{
    grid-column: 1;
    grid-row: 1;
}
.choose-text{
    width: 370px;
}
.ctable-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 28px;
    grid-row-gap: 64px;

}

.item1{
width: 340px;
/* height: 220px; */
}

.table-text{
width: 340px;
}

.price-section{
width: 1440px;
height: fit-content;
display: flex;
flex-direction: column;
align-content: center;
vertical-align: middle;
/* padding-left: 176px;
padding-right: 176px; */
}

.price-top{
/* width: 576.1px; */
height: auto;
margin-bottom: 68px;
margin-left: 432px;
margin-right: 433.9px;
display: flex;
flex-direction: column;
text-align: center;
}

.price-text{
    width: 417px;
    height: 52px;
    text-align: center;   
}
.pt{
    display: flex;
    flex-direction: column;
}
.price-cards{
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr); */
    display: flex;
    /* width: 1088px; */
    height: 627px;
}

.white-card{
width: 379px;
height: 455px;
padding-left: 87px;
padding-right: 98px;
border-radius: 12px;
border-style: solid;
border-width: 0.4px;
border-color: #005AE2;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
z-index: 1;
top: 80px;
    right: 10px;
    position: relative;
    margin-left: 176px;
}

.black-card{
    width: 410px;
    height: 627px;
    border-radius: 12px;
    background-color:rgba(30, 52, 72, 1);
    color: #FFFFFF;
    padding-left: 65px;
padding-right: 106px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    z-index: 2;
    /* top: 80px; */
    right: 180px;
    position: relative;
}

.white-card2{
    width: 379px;
    height: 455px;
    padding-left: 86px;
    padding-right: 66px;
    border-radius: 12px;
    border-style: solid;
    border-width: 0.4px;
    border-color: #005AE2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    z-index: 1;
    top: 80px;
    left: -230px;
    position: relative;
    }

.text1{
font-size: 24px;
line-height: 32px;
margin-bottom: 34px;
margin-top: 24px
}

.text2{
    font-size: 40px;
    line-height: 48px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

}

.ch-text{
    margin: 0px;
    /* display: flex;
    flex-direction: row; */
gap: 8px;
/* width: 200px; */
}
.check{
    width: 13.33px;
    height: 13.33px;
}
.icon-text{
display: flex;
flex-direction: row;
}
.text2a{
    margin: 0px;
}
.text3{
    font-size: 20px;
    line-height: 32px;
    margin: 0;

}
.check-icons{
display: flex;
flex-direction: column;
gap: 24px;
}

.check-text{
    font-size: 14px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.price-bottom{
width: auto;
height: 48px;
margin-top: 68px;
margin-bottom: 112px;
margin-left: 514px;
}

.custom-pricing{
    width: 200px;
    height: 48px;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: #0065FE;
    color: #0065FE;
    background-color: transparent;
}

.select-pricing{
    width: 200px;
    height: 48px;
    border-radius: 100px;
    color: #FFFFFF;
    background-color: #0065FE;
}

.trim-section{
    width: 1440px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    background-color: #1E3448;

}
.trim-images{
    z-index: 0;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.form-img-left{
    margin-top: 0px;
    left:0px;
    top: 1087px;
    z-index: 0;
    position: relative;
    width: 500px;
    height: 200px;
}
.form-img-right{
    margin-top: 0px;
    left:416px;
    top: 560px;
    z-index: 0;
    position: relative;
    width: 500px;
    height: 200px;
}

.form-trim{
width: 476px;
height: fit-content;
border-radius: 12px;
padding: 42px;
display: flex;
flex-direction: column;
align-items: center;
background-color: #FFFFFF;
border-radius: 12px;
margin-top: 83.5px;
margin-bottom: 84.5px;
z-index: 1;
}

.fieldset-trim{
    margin: 0px;
    padding: 0px;
    display: flex;
    border-style: none;
    flex-direction: column;
    align-items: center;
    width: 392px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 24px;

}
.fd{
    z-index: 1;
}
.input1{
grid-column: 1;
grid-row: 1;
width: 392px;
height: 55px;
border-radius: 12px;
border-style:  inset;
border-width: 1px;
border-color: #3284FF;
background-color: transparent;
color: #3284FF;
}

.input2{
    /* grid-column: 1;
grid-row: 2; */
    width: fit-content;
    height: 48px;
    border-radius: 12px;
    border-style:  inset;
    border-width: 1px;
    border-color: #3284FF;
    background-color: transparent;
    color: #3284FF;
}
.input2-cn{
    grid-column: 1;
grid-row: 2;
display: flex;
gap: 12px;
}

.url-cn{
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
}

.trim-url{
    width: 392px;
    height: 48px;
    border-radius: 100px;
    background-color: #005AE2;
    color: white;
}


.form-footer{
    width: 373px;
    height: 40px;
    padding: 10px;
}

.form-span{
font-size: 14px;
line-height: 20px;
color: #4991FF;
}

.faq-section{
width: 1440px;
height: fit-content;
background-color: rgb(255, 255, 255);
display: flex;
flex-direction: column;
align-items: center;
padding-top: 43px ;
padding-bottom: 155px;
overflow: hidden;
}

.faq-images{
    z-index: 0;
    position: relative;
    padding: 0px;
    margin: 0px;
    
}
.faq-img-left{
    position:relative;
    left:-364px;
    top: 902px;
    z-index: 0;
    background-size:  804.53px 596.14px;
}
.faq-img-right{
    position: relative;
    left:258px;
    top: 704px;
    z-index: 0;
    background-size:  804.53px 596.14px;
}
.faq-title-cn{
    display: flex;
flex-direction: row;
margin-bottom: 64px;
z-index: 1;
}

.faq-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 1;
}

.aside-cn{
    border-bottom-style: solid;
    border-color: #D6D6D6;
    border-width: 1px;
    margin-bottom: 16px;
}
.faq-details{
    /* width: 792px; */
    /* height: 63px; */
    gap: 16px;
   
}

.faq-heading{
    font-size: 20px;
    line-height: 32px;
    color: #141414;
}
.faq-text{
    margin-left: 24px;
    width: 792px;
    height: 63px;
    font-size: 16px;
    line-height: 32px;

}

.Revolute-section{
    width: 1440px;
    height: 299px;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    z-index: 1;
    background-color:  #1E3448;
}


.revolute{
    width: 806px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -336px;
    left: 296px;
    /* margin-top: 109px;
    margin-bottom: 53px; */

}
.revo{
width: fit-content;
font-size: 40px;
line-height: 48px;
text-align: center;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 109px;
margin-bottom: 53px;
color: white;
}

.revo-images{
    z-index: 0;
    padding: 0px;
    margin: 0px;
    position: relative;
    overflow: hidden;
}

.revo-img-left{
   position: relative;
    left:-2px;
    top: 0px;
    z-index: 0;
}
.revo-img-right{
    position: relative;
    left:91px;
    top: -0px;
    z-index: 0;
}
.started{
    width: 200px;
    height: 48px;
    font-size: 16px ;
    line-height: 12px;
    background-color: #005AE2;
    color: #FFFFFF;
}

.Footer-section{
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    /* max-height: 571px; */
    height: min-content;
    margin: 0px;
    
    
    /* margin-left: 95px;
    margin-bottom: 82px;
    grid-column-gap: 39px; */
}

.footer-cn{
    display: flex;
    flex-direction: row;
    gap: 39px;
    z-index: 2;
}
.social{
    width: 184px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.footer-links-cn{
width: 812px;
z-index: 2;
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 24px;
    /* grid-row-gap: 31px; */
    font-size: 16px;
    line-height: 24px;
    z-index: 2;

}
.footer-a{
    text-decoration: none;
}
.g1{
    grid-column: 1;
    grid-row: 1;
    padding-left: 24px;
    padding-right: 24px;
    gap: 8px;

}
.g1-p{
    padding: 0px;
    margin: 0px;
    width: fit-content;
}
.g2{
    grid-column: 1;
    grid-row: 2;
    padding-left: 24px;
    padding-right: 24px;
}


.g3{
    grid-column: 2;
    grid-row: 1;
    padding-left: 24px;
    padding-right: 24px;
}

.g4{
    grid-column: 2;
    grid-row: 2;
    padding-left: 24px;
    padding-right: 24px;
}

.g5{
    grid-column: 3;
    grid-row: 1;
    padding-left: 24px;
    padding-right: 24px;
}
.g6{
    grid-column: 3;
    grid-row: 2;
    padding-left: 24px;
    padding-right: 24px;
}
.g7{
    grid-column: 4;
    grid-row: 1;
    padding-left: 24px;
    padding-right: 24px;
}

.sm-icons{
display: flex;
flex-direction: row;
gap: 24px;
width: auto;
height: 24px;
}

.black-logo{
width: 155px;
height: 40px;
}

.footer-nav-h3{
    margin-top: 0px;
}
.footer-text{
    display: flex;
    flex-direction: row;
    width: 296px;
    height: 20px;
    font-size: 14px;
    color: #112232;
    background-color: transparent;
    margin-left: 1017px;
    gap: 8px;
    vertical-align: middle;
    z-index: 2;
    
}
.footer-img{
    position: relative;
    }

.footer-img-left{
position: relative;
left: -147px;
top: 472px;
z-index: 0;
/* transform: rotate(4deg); */
}

.footer-img-right{
   position: relative;
    left:147px;
    top: 471px;
    z-index: 0;
    /* transform: rotate(4deg); */
}
