@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sofia&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sofia&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');


.content {
  display: flex;
  flex-direction: row;
  max-width: 892px;
  max-height: 845px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 15px 35px rgba(43, 64, 78, 0.1);
}



/* .cont{ */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between} */

.input-name {
  width: 180px;
  height: 48px;
  background-color: #edeff2;
  color: #646e7a;
  border-radius: 4px;
  border-style: none;
  padding-left: 13px
}


.input-name2 {
  width: 485px;
  height: 48px;
  background-color: #edeff2;
  color: #646e7a;
  border-radius: 4px;
  border-style: none;
  padding-left: 13px
}


.WP-pusher {
  width: 1440px;
  height: 1170px;
  background-color: #f5f8fa;
  display: flex;
  flex-direction: column
}
.wp-logo {
  width: 200px;
  height: 39px
}
.wp-navbar {
  width: 1360px;
  height: 73px;
  border-bottom: #e0e6ea;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto
}
.wp-button-links {
  display: flex;
  flex-direction: row;
  gap: 42px;
  padding-left: 19px;
  padding-right: 20px;
  padding-top: 11px;
  padding-bottom: 12px;
  width: fit-content;
  height: fit-content;
  font-size: 14px;
  font-weight: 700;
  font-family: sans-serif;
  color: #1d2c3c
}

a {
    text-decoration: none;
    color: rgba(29, 44, 60, 1);
    
}

.nav-acc {
  width: 91px;
  height: 40px;
  background-color: transparent;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  border-color: #646e7a;
  color: #1d2c3c
}
.nav-acc2 {
  width: 91px;
  height: 40px;
  background-color: transparent;
  border-style: none;
  border-radius: 8px;
  border-width: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  color: #1d2c3c
}

.panel{
    width: 892px;
    height: 845px;
    margin-top: 186px;
    margin-left: 262px;
    }

.sidebar {
  width: 312px;
  height: 795px;
  background-color: #1179bf;
  color: #fff
}
.sidebar-content {
  padding-top: 42px;
  padding-left: 44px;
  padding-right: 37px;
  font-family: sans-serif
}
.pricing {
  display: flex;
  flex-direction: row
}
.sidebar-large {
  width: 580px;
  height: 795px;
  background-color: #fff
}
.nav-bar {
  width: 1360px;
  height: 73px
}
.title {
  width: 580px;
  height: 80px
}
.Checkout {
  width: 161px;
  height: 54px;
  font-size: 30px;
  font-weight: 400;
  color: #1d2c3c;
  line-height: 36px;
  margin-left: 48px;
  margin-top: 41px;
  margin-bottom: 24px
}
.section-basic {
  margin-left: 48px;
  margin-right: 48px;
  padding-bottom: 41px;
  margin-top: 24px
}
.section-payment {
  margin-left: 48px
}
.basic {
  width: 260px;
  height: 22px;
  border: 2px;
  border-color: #548bc5;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  font-family: sans-serif;
  color: #1d2c3c
}
.firstname {
  width: 227px;
  height: 60px;
  font-size: 14px;
  font-weight: 400;
  color: #1d2c3c
}
.input-name {
  width: 214px;
  height: 36px;
  background-color: #edeff2;
  color: #8e9fad;
  border-radius: 4px;
  border-style: none;
  padding-left: 13px
}
.input-email {
  width: 475px;
  height: 36px;
  background-color: #edeff2;
  color: #646e7a;
  border-radius: 4px;
  border-style: none;
  padding-left: 13px
}
.input-card-num {
  width: 154px;
  padding-left: 13px;
  background-color: transparent;
  border-style: none;
  margin-right: 95px
}
.input-card-date {
  width: 154px;
  text-align: end;
  background-color: transparent;
  border-style: none;
  margin-right: 15px
}
.input-card-cvc {
  width: 36px;
  padding-left: 13px;
  background-color: transparent;
  border-style: none
}
.input-cn {
  display: flex;
  border-radius: 4px;
  border-style: none;
  color: #646e7a;
  height: 36px;
  width: auto;
  background-color: #edeff2
}

.buy-button {
  background-color: #038e7d;
  padding-top: 13px;
  padding-bottom: 17px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  border-style: none;
  color: #fff;
  margin-left: 49px;
  margin-right: 49px;
  margin-top: 40px;
  border-radius: 5px;
  width: 483px
}



.footer-wp {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  font-family: sans-serif;
  line-height: 16.8px;
  display: flex;
  justify-content: center;
  margin-top: 23px;
  gap: 9px
}
/* .footer-p {
  display: flex;
  flex-direction: column
} */
.p-contain {
  gap: 4px;
  display: flex;
  flex-direction: row
}
.footer-span {
  color: #566473;
  font-weight: 400;
  font-size: 14px;
  list-style: 16.8px
}
.blue {
  color: #1179bf
}
.green {
color: #2EC4B6;
text-decoration: underline;
}
.kirk {
  border-radius: 100px
}
.your {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 30px;
  margin-bottom: 12px
}

body {
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center
}
.footerwp {
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  color: #6c7477
}



/* responsiveness for mobile*/

@media (min-width: 375px) {
body {
  width: 375px;
  height: fit-content;
  font-family: 'Lato';
}
.sign-up{
  background-color: #f7fdfc;
  width: 375px;
  height: 975px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-content{
  width: 327px;
  height: auto;
}

.left-img{
  color: #737373;
  width: auto;
  height: fit-content
}
.left-h1{
                font-size: 30px;
                font-weight: 700;
                line-height: 29.4px;
                font-family: sans-serif;
                margin-bottom: 12px;
                color: #000b0a;
                width: auto;
              
}
.mobile-text{
  display: block;
}
.desktop-text{
  display: none;
}
.left-p{

                font-size: 16px;
                font-weight: 300;
                line-height: 25px;
                width: 327px;
                height: 50px;
              
}
.round-img{
                margin-bottom: 40px;
              width: 59.63px;
              height: 40px;
}
.right-content{
  margin-top: 0px;
  width: 327px;
  height: auto;
}

.right-form{
  height: auto;
margin-bottom: 138px;
}

.fieldset{
  background-color: white;
  margin-top: 40px;
  margin-left: 0px;
  margin-right: 0px;
  width: auto;
  height: fit-content;
  box-shadow: 0 4px 50px rgba(4,8,19,.1);
  border-style: none;
  padding-inline: 16px;
  padding-block: 24px;
  color: #011c34;
  display: flex;
  flex-direction: column;
  /* grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 1, 1fr; */
  gap: 24px;
}
.up{
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr); */
  gap: 24px;
  display: flex;
  flex-direction: column;
  width: auto;

}
.cont1{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: auto;
}

.cont2{

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cont3{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ul{
  margin: 0px 0px 0px 0px;
  padding: 0px;
  width: auto;
}
.cont-lu{
  width: auto;
  display: flex;
  flex-direction: column;
  padding: none;
  gap: 8px;
  color: #1d2c3c;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  height: 72px;
  font-family: 'Sofia Pro';

}
.input-name_web{
  width: auto;
    height: 48px;
    background-color: transparent;
    border-radius: 4px;
    border-color: #F0F0F0;
    border-style: solid;
    border-width: 1px;
    padding-left: 13px
}

.input-name_web2{
  width: auto;
  height: 48px;
  background-color: transparent;
  color: #646e7a;
  border-radius: 4px;
  border-color: #F0F0F0;
  border-style: solid;
  border-width: 1px;
  padding-left: 13px
}
.register-button{
    background-color: rgba(46, 196, 182, 1);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-inline: auto;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    color: #fff;
    margin-top: 30px;
    border-radius: 2px;
    width: auto;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-style: none;
  
}
.buy{
  color: white;
}
.footer-green{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: #6c7477
  }
  .footer-p{
    width: auto;
    height: fit-content;
  }
}


/* responsiveness for desktop*/

@media (min-width: 1024px) {
  body {
    width: 1024px;
    height: fit-content;
    font-family: 'Lato';}

  .sign-up{
    background-color: #f7fdfc;
    width: 1440px;
    height: 900px;
    display: flex;
    flex-direction: row;

}
.left-content{
  width: 720px;
  height: 840px
}

.left-img{
  color: #737373;
  margin-left: 140px;
  margin-top: 205px;
  width: 460px;
  height: 275px
}
.left-h1{
  font-size: 40px;
  font-weight: 700;
  font-family: sans-serif;
width: auto;
  line-height: 50px;
  margin-bottom: 20px;
  color: #000b0a;

}
.left-p{

  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  width: 460px;
  height: 75px;

}

.mobile-text{
  display: none;
}
.desktop-text{
  display: block;
}

.round-img{
  margin-bottom: 50px;
width: 77.33px;
height: 80px;
}

.right-content{
  width: 720px;
  height: 840px
}
.right-form{
  height: 679px;
margin-bottom: 81px;
}

.fieldset{
  background-color: white;
  margin-top: 81px;
  margin-right: 140px;
  width: 500px;
  height: fit-content;
  box-shadow: 0 4px 50px rgba(4,8,19,.1);
  border-style: none;
  padding: 40px;
  color: #011c34;
  display: flex;
  flex-direction: column;
  gap: 24px;

}
.up{
  display: grid;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.down {
  display: flex;
  flex-direction: column;
  width: 582px
}

.cont1{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.ul{
  margin: 0px 0px 0px 0px;
  padding: 5px;
}

.cont-lu{
display: flex;
  flex-direction: column;
  padding: none;
  gap: 10px;
  color: #1d2c3c;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  height: 72px;
  font-family: sans-serif
}

.cont2{
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.cont3{
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.input-name_web{
  width: 260px;
    height: 48px;
    background-color: transparent;
    border-radius: 4px;
    border-color: #F0F0F0;
    border-style: solid;
    border-width: 1px;
    padding-left: 13px
}

.input-name_web2{
  width: auto;
  height: 48px;
  background-color: transparent;
  color: #646e7a;
  border-radius: 4px;
  border-color: #F0F0F0;
  border-style: solid;
  border-width: 1px;
  padding-left: 13px
}

.register-button {
  background-color: rgba(46, 196, 182, 1);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-inline: 219px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  color: #fff;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 15px;
  border-radius: 2px;
  width: auto;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-style: none;
}

.buy{
  color: white;
}

.footer-green {
  text-align: center;
  font-size: 14px;
  color: #6c7477
}


}